<span style="padding: 5px; font-size: 12px;">
    An intuitive, lightweight and easy to integrate <a
        href="https://developers.cloudflare.com/turnstile/">cloudflare-turnstile</a> component for Angular.
</span>
<br>
<img style="padding: 2px;" src="https://img.shields.io/npm/v/@pangz/ng-cloudflare-turnstile"
    alt="npm version">
<img style="padding: 2px;" src="https://img.shields.io/npm/dt/@pangz/ng-cloudflare-turnstile"
    alt="npm downloads">
<img style="padding: 2px;" src="https://img.shields.io/npm/l/@pangz/ng-cloudflare-turnstile"
    alt="npm license">