<div class="center-wrapper-head" style="text-align: center; justify-content: center;">
    <h2>ng-cloudflare-turnstile</h2>
    <div style="text-align: center; justify-content: center; height: 100%; width: 100%;">
        <a href="https://github.com/pangz-lab/ng-cloudflare-turnstile" target="_blank">
            <img src="https://www.pngmart.com/files/23/Github-Logo-PNG-File.png" alt="GitHub Repository"
            class="link-image">
        </a>
        <a href="https://www.npmjs.com/package/@pangz/ng-cloudflare-turnstile" target="_blank">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcBAMAAACAI8KnAAAAKlBMVEXLAADKAADMExPVTU3USUn////eenrghobfgYHst7fFAADJAADhi4vPJibZA+ujAAAAUklEQVR4AWMgETAKQoEAmKvsAgVGYEnTUCgIFmBgYmAQgOtiAHERACdXSNkBmevi/AGZyxrwAU3v4OJ+gLACGP7DA8dZgOGyixEi6ECUAIlhDgBlbQ7lGaBp1QAAAABJRU5ErkJggg=="
            alt="NPM Package" class="link-image">
        </a>
        <a href="https://yarnpkg.com/package?q=pangz&name=%40pangz%2Fng-cloudflare-turnstile" target="_blank">
            <img src="https://raw.githubusercontent.com/yarnpkg/assets/refs/heads/master/yarn-kitten-circle.png"
            alt="Yarn Package" class="link-image">
        </a>
    </div>
</div>